body {
    font-family: 'PT Serif', serif;
    margin: 0%;
    padding: 0%;
}

.header {
    background-image: url(frame1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding-bottom: 60px;
}

.topic {
    width: 50%;
}

.left-side {
    padding: 10% 0% 0% 5%;
}

.right-side {
    padding-top: 2%;
}

.main-title {
    font-size: 4rem;
}

.diff-color {
    color: #291FCE;
    font-size: 4.2rem;
}

.details {
    font-size: 1.2rem;
    width: 70%;
    color: #535c68;
}

.button {
    font-weight: 700;
    color: white;
    box-shadow: 5px 5px 30px 2px gray;
    border-color: transparent;
    border-radius: 30px;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 16px 38px;
    background-color: #291FCE;
    margin: 20px 0px;
    transition: 200ms;
}

.button:hover {
    font-weight: 700;
    box-shadow: 2px 2px 20px 1px rgb(151, 151, 228);
    color: #000000;
    border-color: transparent;
    border-radius: 30px;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 16px 38px;
    background-color: white;
    margin: 20px 0px;
    cursor: pointer;
}

.header-image {
    width: 90%;
}

.middle-panel {
    display: flex;
    padding: 5% 0%;
    background-image: url(frame2.jpg);
    background-size: cover;
}

.about-me {
    width: 50%;
}

.middle-left {
    padding-left: 2%;
}

.middle-right {
    padding-top: 10%;
}

.middle-title {
    padding-top: 80px;
    margin-top: 0;
    font-size: 3.2rem;
}

.details-middle {
    font-size: 1.2rem;
    width: 90%;
    color: #535c68;
}

.recipes {
    background-image: url(frame1.jpg);
    background-size: cover;
}

.recipe-head {
    text-align: center;
}

.cook-details {
    text-shadow: .4px .4px 5px white;
    padding-top: 2%;
    margin: auto;
    width: 50%;
    font-size: 1.2rem;
    color: #000000;
}

.detailed-recipe {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}

.plate {
    background-color: aliceblue;
    width: 40%;
    box-shadow: 10px 10px 20px gray;
    margin: 30px;
    border-radius: 25px;
    transition: 200ms;
}

.plate:hover {
    background-color: rgb(222, 225, 255);
    width: 40%;
    box-shadow: 10px 10px 20px gray;
    margin: 30px;
    border-radius: 25px;
    transition: 200ms;
    cursor: pointer;
}

.food {
    width: 90%;
    margin: 35px;
    border-radius: 25px;
}

.recipe-title {
    font-size: 2rem;
    padding-left: 40px;
    padding-bottom: 10px;
}

.recipe-details {
    text-shadow: 2px px 10px rgb(255, 255, 255);
    font-size: 1.2;
    color: #535c68;
    width: 70%;
    padding: 10px 0 30px 40px;
}

.fam-followers {
    margin: 50px 70px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 30px;
}

.upper-one {
    text-shadow: 2px 2px 5px #6b6a6a;
    height: 135px;
    margin: auto;
    width: 80%;
    font-size: 3.2rem;
    display: flex;
    justify-content: space-between;
}

.down-one {
    margin: auto;
    width: 85%;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.yt {
    padding-left: 50px;
}

.insta {
    padding-left: 10px;
}

footer {
    padding: 50px 0 60px 0;
    background-color: black;
    text-align: center;
}

.footer-title {
    color: gray;
    font-weight: 700;
    font-size: 1.7rem;
}

.blue {
    color: #291FCE;
}

.footer-details {
    color: white;
    letter-spacing: 1px;
}